/* General Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  
}
:root {
  --black: #000;
  --black2: #000;
  --white: #fff;
  --white2: #fff;
}
html {
  scroll-behavior: smooth;
}
.body {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url("../media/3.jpg");
  background-size: cover;
  background-position: 0% -100px;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.body.activate {
  overflow-y: visible;
}
.menu {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 0px;
  right: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
  transition: 0.5s;
}
.menu.activate {
  right: 1%;
}
.menu .control {
  position: relative;
}
.control i {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  transition: 0.5s;
}
.control .x {
  opacity: 0.5;
}
.menu:hover .control .x {
  font-size: 2rem;
  opacity: 1;
}
.control .left {
  opacity: 0;
}
.menu.activate:hover .control .left {
  font-size: 2rem;
  opacity: 1;
}
.menu.activate .control .x {
  opacity: 0;
}
.menu.activate .control .left {
  opacity: 0.5;
}

/* side section */
.nav {
  position: fixed;
  width: 25%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: -1px 0 5px 0 var(--black);
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  visibility: visible;
}
.nav.activate {
  visibility: hidden;
  width: 0;
}
.nav .logo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 50%;
  opacity: 1;
  transition: 0.5s;
}
.nav.activate .logo {
  opacity: 0;
  transform: translateX(100%);
}
.nav .logo img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  transform: translateY(-25px);
}
.nav .logo h1 {
  margin-top: 1.5rem;
  font-size: 1.25em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}
.nav .logo p {
  margin-top: 1.5rem;
  font-size: 1.25em;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 300;
  color: var(--white);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 2.75);
}
.nav .social {
  position: relative;
  width: 95%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  flex-shrink: 2;
  transform: translateY(15px);
}
.nav.activate .social {
  opacity: 0;
  transform: translateX(100%);
}
.social div {
  position: relative;
  width: 20%;
  height: 65%;
  background-color: transparent;
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 3rem;
  text-decoration: none;
  transform-style: preserve-3d;
  perspective: 500px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.75);
  transition: 0.5s;
}
.social div:hover {
  cursor: pointer;
  width: 22.5%;
  height: 75%;
}
.social .cards a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  transition: 0.5s;
}
.social .cards:hover a {
  color: var(--white);
  font-size: 1.65em;
  transform: translateZ(50px);
}
.social div:hover.twitter {
  background-color: #0099ff;
}
.social div:hover.instagram {
  background-color: #e4405f;
}
.social div:hover.github {
  background-color: #000;
}
.social div:hover.whatsapp {
  background-color: #25d366;
}
.navbar {
  position: fixed;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform-origin: 50% 100%;
  transition: 0.5s;
  z-index: 1;
}
.navbar::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  transform: translateX(-100%);
  transition: 0.7s;
  z-index: -5;
}
.navbar.activate {
  width: 100%;
}
.navbar.activate::before {
  transform: translateX(0%);
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 5px var(--black);
}
.navbar .ul_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.7s;
  transform: translateX(-105.5%);
}
.navbar .ul_container.activate {
  opacity: 1;
  transform: translateX(0%);
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  display: inline-block;
  position: relative;
  margin: 0 0.5rem;
  padding: 3vh 0;
  border-radius: 5px;
  transition: 0.35s;
}
.navbar ul li:hover {
  cursor: pointer;
}
.navbar ul li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2.5px;
  bottom: 15px;
  left: 0%;
  background-color: #fff;
  transform: scaleX(0);
  transition: 0.5s;
}
.navbar ul li:hover:after {
  transform: scaleX(1);
}
.navbar ul a {
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  opacity: 0.5;
  transition: 0.5s;
}
.navbar ul a:hover {
  opacity: 1;
}

/* ---------------------------------------------------------------------------------------------------------- */

/* content */
.content {
  position: relative;
  width: 75%;
  min-height: 100vh;
  left: 0;
  transform-origin: 50% 0%;
  transition: 0.5s;
}
.content.activate {
  width: 100%;
}
.content .home,
.about {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  transition: 0.5s;
  /* background-color: rgba(0, 0, 0, 0.5); */
}
.content.activate .home,
.content.activate .about {
  padding-top: 10vh;
}

/* Home section */
.home {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
}
.home_content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  transition: 0.5s;
}
.content.activate .home_content {
  min-height: 91vh;
}
.clip_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 25px rgba(0, 0, 0, 1));
  z-index: -1;
  transition: 0.5s;
}
.content.activate .home .clip_container {
  transform: translate(-45%, -50%);
}
.clip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border-radius: 50px 0 50px 0;
  overflow: hidden;
  transition: 0.5s;
  z-index: 0;
}
.clip::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  background: url(../media/home/test.jpg);
  z-index: 4;
}
.clip1 {
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  clip-path: polygon(0 0, 35% 0, 60% 92.5%, 0 92.5%);
}
.clip2 {
  background-color: rgba(0, 0, 0, 0.25);
  background-size: cover;
  clip-path: polygon(40% 7.5%, 100% 7.5%, 100% 100%, 65% 100%);
}
.clip1 video {
  width: 100%;
  height: 100%;
  /* filter: blur(5px); */
  transform: scaleY(1.13) translateY(-23px);
}
.clip2 video {
  width: 100%;
  height: 100%;
  transform: scaleY(1.13) translateY(23px)
}
.clip_container .clip1 p {
  position: absolute;
  top: 50%;
  right: 475px;
  transform: translate(-50%, -50%) rotate(-22deg);
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: right;
  color: #eee;
  /* background: url(../media/clip1.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-clip: text; */
  -webkit-text-fill-color: rgba(255, 255, 255, 0.4);
  z-index: 5;
  transition: 0.5s;
}
.clip_container .clip1 p span:nth-child(1) {
  /* animation: clip1 5s linear infinite reverse; */
}


.clip_container .clip2 p {
  position: absolute;
  right: 210px;
  top: 55%;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 0px;
  transform: translate(-50%, -50%) rotate(-23deg);
  text-align: left;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.4);
  /* animation: clip1 10s linear infinite alternate-reverse; */
  z-index: 5;
}
@keyframes clip1 {
  0% {
    font-size: 0px;
  }
  50% {
    font-size: 14px;
  }
  100% {
    font-size: 28px;
  }
}
.content.activate .clip_container .clip2 p {
  left: 120px;
  letter-spacing: 2px;
  font-size: 19px;
}

/* About section */
.about {
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
}
.about .about_content {
  position: relative;
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 0 35px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.paragraph_container {
  position: relative;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.about .section1, .section2 {
  padding: 15px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.about .section1 h1 {
  width: 200px;
  height: 50px;
  padding: 10px 0 0 10px;
  display: flex;
  align-items: center;
  font-size: 1.75em;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 7.5px;
  background: rgba(255, 255, 255, 0.13);
}
.about .section1 p {
  margin-top: 15px;
  font-size: 1.25em;
  line-height: 1.35em;
  letter-spacing: 1px;
  color: #c9c9c9;
  text-shadow: 0 0 2.5px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.section2 .skilles {
  height: 100%;
  display: flex;
  margin-top: 10px;
  align-items: center;
  flex-direction: column;
}
.skilles .skille {
  width: 100%;
  margin: 15px 0 0;
  display: flex;
  flex-direction: column;
}
.skilles .skille h3 {
  color: #c9c9c9;
  margin-left: 25px;
  text-shadow: 0 0 2.5px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 22px;
}
.skilles .skille .skilleschilds {
  width: 100%;
  display: flex;
  margin-left: 50px;
  align-items: center;
}
.skille .skl {
  width: 130px;
  height: 45px;
  background: rgba(0, 0, 0, 0.15);
  margin: 10px 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 7.5px;
}
.s4 .skilleschilds .skl {
  width: 90%;
}
.skl h4 {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  color: #c9c9c9;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.section2 h2 {
  width: 200px;
  height: 50px;
  padding: 10px 0 0 10px;
  display: flex;
  align-items: center;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  border-radius: 7.5px;
  background: rgba(255, 255, 255, 0.15);
}
.about .photo {
  width: 40%;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.content.activate .about .photo {
  width: 40%;
  justify-content: center;
}
.about .photo img {
  width: 100%;
  height: 75%;
  border-radius: 10px;
  transition: 0.5s;
}
.content.activate .about .photo img {
  height: 100%;
}
/* Content Media */
