/* ios Mobiles */

/*iphone 4*/
@media only screen
	and (min-device-width: 320px) 
	and (max-device-width: 666px)
	/*and (-webkit-min-device-pixel-ratio: 2)*/
{
	.body
	{
		overflow: hidden;
	}
	.body.activate
	{
		overflow-y: visible;
	}
	.menu
	{
		right: 5%;
		top: 1.75%;
	}
	.menu.activate
	{
		right: 2.5%;
		top: 1.75%;
	}
	.menu.activate .control i
	{
		font-size: 1rem;
	}
	.menu.activate:hover .control .left
	{
		font-size: 1.5rem;
	}

	.nav
	{
		width: 100%;
	}
	.nav.activate
	{
		width: 0%;
	}
	.nav .logo
	{
		/*padding-top: 37.5%;*/
	}
	.nav .logo img
	{
		width: 40%;
	}
	.nav .social
	{
		margin-top: 10%;
		width: 90%;
	}
	.social div
	{
		font-size: 3rem;
		width: 100px;
		height: 75px;
	}
	.social div:hover
	{
		height: 78px;
	}
	.social .cards:hover a
	{
		font-size: 1.25em;
	}

	.container
	{
		overflow: hidden;
	}
	.container.activate
	{
		overflow: visible;
	}
	.content
	{
		width: 0%;
		opacity: 0;
	}
	.content.activate
	{
		width: 100%;
		opacity: 1;
	}
	/*.content.activate .navbar*/
	{
		width: 10%;
		right: 0;
		min-height: 100%;

	}
	.content .navbar::before
	{
		transition: 0.5s;
	}
	.navbar ul li
	{
		margin: 0 0.25rem;
	}
	.navbar ul li::after
	{
		height: 1.5px;
    	bottom: 2vh;
	}
	.navbar ul li a
	{
		font-size: 0.6em;
	}
	.content.activate .home .clip
	{
		transform: translate(-50%, -50%);
	}
	.about .paragraph
	{
		width: 100%;
		margin-right: 0;

	}
	.content.activate .about_content p
	{
		font-size: 12px;
	}
	.about_content img
	{
		display: none;
	}
	
}

/*iphone 12*/
@media (width: 390px) and (height: 844px)
{
	*
	{
		color: red;
	}
	.container
	{
	    background-position: 25% 0%;
	}
	.menu
	{
		right: 5%;
		top: 1.75%;
	}
	.menu.activate
	{
		right: 2.5%;
		top: 1.75%;
	}

	.nav
	{
		width: 100%;
	}
	.nav.activate
	{
		width: 0%;
	}
	.nav .logo
	{
		padding-top: 37.5%;
	}
	.nav .logo img
	{
		width: 30%;
	}
	.nav .social
	{
		padding-top: 10%;
		width: 90%;
	}
	.social div
	{
		height: 20%;
		font-size: 3rem;
	}
	.social div:hover
	{
		height: 25%;
	}

	.content
	{
		width: 0%;
		opacity: 0;
	}
	.content.activate
	{
		width: 100%;
		opacity: 1;
	}
	.content .navbar::before
	{
		transition: 0.5s;
	}
}