/* ios Mobiles */

/*iphone 4*/
@media only screen and (min-width: 320px) and (max-width: 844px) /*and (-webkit-min-device-pixel-ratio: 2) */ {
  .parent {
    overflow: hidden;
  }
  .parent.activate {
    overflow-y: visible;
  }
  .body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 490px;
    height: 844px;
    z-index: -100;
    background: url(../media/mobilesimg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .body::after {
    /* content: ''; */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    background-image: linear-gradient(to right top, #d6c8d0, #c0b5bf, #aaa3ad, #94919c, #7f7f8a, #7f7f8b, #7e7f8c, #7e7f8d, #9391a1, #a8a3b5, #bfb5c8, #d6c8dc);
    opacity: 0.5;
  }
  .body {
    /* overflow: hidden; */
  }
  .body.activate {
    /* overflow-y: visible; */
  }
  .menu {
    right: 5%;
    top: 1.75%;
  }
  .menu.activate {
    right: 0.25%;
    top: 0.15%;
  }
  .menu.activate .control i {
    font-size: 1rem;
  }
  .menu.activate:hover .control .left {
    font-size: 1.5rem;
  }

  .nav {
    width: 100%;
    min-height: 100vh;
    position: fixed;
  }
  .nav.activate {
    display: none;
  }
  .nav .logo {
    margin-bottom: 15%;
  }
  .nav .logo img {
    width: 50%;
    height: 50%;
  }
  .nav .logo p {
    line-height: 30.5px;
  }
  .nav .social {
    margin-top: 5%;
    width: 95%;
  }
  .social div {
    font-size: 3rem;
    width: 100px;
    height: 75px;
  }
  .social div:hover {
    height: 80px;
  }
  .social .cards a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social .cards:hover a {
    font-size: 1.25em;
  }

  .content {
    width: 0%;
    transform: translateX(-100%);
    opacity: 0;
  }
  .content.activate {
    width: 100%;
    transform: translateX(0%);
    opacity: 1;
  }
  .navbar {
    opacity: 0;
  }
  .navbar.activate {
    opacity: 1;
  }
  .navbar::before {
    transition: 0.5s;
  }
  .navbar .ul_container.activate {
    transform: translateX(-5%);
  }
  .navbar ul li {
    margin: 0 0.25rem;
  }
  .navbar ul li::after {
    height: 1.5px;
    bottom: 2vh;
  }
  .navbar ul a {
    font-size: 0.6em;
  }
  .content.activate .home .clip {
    width: 90%;
    height: 60%;
    transform: translate(-55.5%, -55%);
    border-radius: 25px 0 25px 0;
  }
  .clip_container .clip1 p,
  .clip_container .clip2 p {
    right: 115px;
    font-size: 20px;
    line-height: 40px;
    transform: translate(-50%, -50%) rotate(-11deg);
    -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
  }
  .clip_container .clip2 p {
    transform: translate(75px, -115px) rotate(-13deg);
  }
  .clip1 video {
    transform: scaleY(2.2) scaleX(1.1) translateY(-9px);
  }
  .clip2 video {
    transform: scaleY(2.2) scaleX(1.1) translateY(9px);
  }
  .about {
    min-height: 100vh;
    justify-content: flex-start;
  }
  .about .about_content {
    min-height: 85vh;
    max-height: 85vh;
    flex-direction: column;
    overflow-y: scroll;
  }
  .paragraph_container {
    width: 100%;
  }
  .about .section1 {
    width: 100%;
    margin-right: 0;
    padding-top: 0px;
    margin-top: 10px
  }
  .about .section1 h1 {
    width: 100%;
    justify-content: center;
    padding: 10px 0 0;
    margin-top: 5px;
  }
  .content.activate .about .section1 p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
    text-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.5);
  }
  .section2 {
    transform: translateY(-10px);
  }
  .section2 h2 {
    width: 100%;
    justify-content: center;
    padding: 10px 0 0;
  }
  .section2 .skilles {

  }
  .skilles .skille {
    margin: 0px 0 2.5px;
    padding: 0 5px 0 10px;
  }
  .skilles .skille h3 {
    font-size: 18px;
    margin-left: 0px;
  }
  .skilles .skille .skilleschilds {
    margin-left: 0px;
  }
  .skille .skl {
    height: 50px;
    margin: 5px 10px 15px 0;
  }
  .s4 .skilleschilds .skl {
    width: 100%;
  }
  .skl h4 {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
  }
  .about .photo {
    display: none;
  }
}

/*iphone 12*/
@media (width: 390px) and (height: 844px) {
  * {
    color: red;
  }
  .container {
    background-position: 25% 0%;
  }
  .menu {
    right: 5%;
    top: 1.75%;
  }
  .menu.activate {
    right: 2.5%;
    top: 1.75%;
  }

  .nav {
    width: 100%;
  }
  .nav.activate {
    width: 0%;
  }
  .nav .logo {
    padding-top: 37.5%;
  }
  .nav .logo img {
    width: 30%;
  }
  .nav .social {
    padding-top: 10%;
    width: 90%;
  }
  .social div {
    height: 20%;
    font-size: 3rem;
  }
  .social div:hover {
    height: 25%;
  }

  .content {
    width: 0%;
    opacity: 0;
  }
  .content.activate {
    width: 100%;
    opacity: 1;
  }
  .content .navbar::before {
    transition: 0.5s;
  }
}
