/* ios taplates : */

/* ipad : */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .parent {
        overflow: hidden;
    }
    .parent.activate {
        overflow-y: visible;
    }
    .body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 1024px;
        height: 1400px;
        z-index: -100;
        background: url(../media/taplatesbackimg.png) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .body::after {
      /* content: ''; */
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -99;
        background-image: linear-gradient(to right top, #d6c8d0, #c0b5bf, #aaa3ad, #94919c, #7f7f8a, #7f7f8b, #7e7f8c, #7e7f8d, #9391a1, #a8a3b5, #bfb5c8, #d6c8dc);
        opacity: 0.5;
    }
    .body {
      /* overflow: hidden; */
    }
    .body.activate {
      /* overflow-y: visible; */
    }
    .menu {
        right: 5%;
        top: 1.75%;
    }
    .menu.activate {
        right: 0.25%;
        top: 0.15%;
    }
    .menu.activate .control i {
        font-size: 1rem;
    }
    .menu.activate:hover .control .left {
        font-size: 1.5rem;
    }

    .nav {
        width: 100%;
        min-height: 100vh;
        position: fixed;
    }
    .nav.activate {
        display: none;
    }
    .nav .logo {
      /* margin-bottom: 10%; */
    }
    .nav .logo img {
        width: 31%;
        height: 45%;
    }
    .nav .logo p {
        line-height: 30.5px;
    }
    .nav .social {
      /* margin-top: 5%; */
        width: 95%;
    }
    .social div {
        font-size: 3rem;
        width: 100px;
        height: 75px;
    }
    .social div:hover {
        width: 100px;
        height: 75px;
    }
    .social .cards a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social .cards:hover a {
        font-size: 3rem;
    }

    .content {
        width: 0%;
        transform: translateX(-100%);
        opacity: 0;
    }
    .content.activate {
        width: 100%;
        transform: translateX(0%);
        opacity: 1;
    }
    .navbar {
        opacity: 0;
    }
    .navbar.activate {
        opacity: 1;
    }
    .navbar::before {
        transition: 0.5s;
    }
    .navbar .ul_container.activate {
      /* transform: translateX(-5%); */
    }
    .navbar ul li {
        margin: 0 0.25rem;
    }
    .navbar ul li::after {
        height: 1.5px;
        bottom: 2vh;
    }
    .navbar ul a {
        font-size: 1em;
    }
    .content.activate .home .clip {
        width: 90%;
        height: 60%;
        transform: translate(-55.5%, -55%);
        border-radius: 25px 0 25px 0;
    }
    .clip_container .clip1 p,
    .clip_container .clip2 p {
        right: 115px;
        font-size: 20px;
        line-height: 40px;
        transform: translate(-50%, -50%) rotate(-11deg);
        -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
    }
    .clip_container .clip2 p {
        transform: translate(75px, -115px) rotate(-13deg);
    }
    .clip1 video {
        clip-path: none;
    }
    .content.activate .clip1 video {
        transform: scaleY(1.4) translateY(-5px) translateX(-40%);
    }
    .content.activate .clip2 .speech {
        transform: translate(-90%, -55%);
        font-size: 28px;
    }
    .content.activate .clip2 .one .sp2, 
    .content.activate .clip2 .two .sp2 {
        letter-spacing: 8px;
        transform: translateX(-35%);
    }
    .clip_container .clip2 .one .sp3 {
        animation: sp3t 11s linear 2s infinite;
    }
    .clip_container .clip2 .one .sp4 {
        animation: sp4t 11s linear 2s infinite;
    }
    .clip_container .clip2 .two .sp3 {
        animation: sp33t 11s linear 2s infinite reverse;
    }
    .clip_container .clip2 .two .sp4 {
        animation: sp44t 11s linear 2s infinite reverse;
    }
    .about {
        min-height: 100vh;
        justify-content: flex-start;
    }
    .about .about_content {
        min-height: 85vh;
        max-height: 85vh;
        flex-direction: column;
        overflow-y: hidden;
    }
    .paragraph_container {
        width: 100%;
    }
    .about .section1 {
        width: 100%;
        margin-right: 0;
        padding-top: 0px;
        margin-top: 10px
    }
    .about .section1 h1 {
        width: 100%;
        justify-content: center;
        padding: 10px 0 0;
        margin-top: 5px;
    }
    .content.activate .about .section1 p {
        margin-top: 10px;
        font-size: 21px;
        line-height: 30px;
        text-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.5);
    }
    .section2 {
        transform: translateY(-10px);
    }
    .section2 h2 {
        width: 100%;
        justify-content: center;
        padding: 10px 0 0;
    }
    .section2 .skilles {

    }
    .skilles .skille {
        margin: 0px 0 2.5px;
        padding: 0 5px 0 10px;
    }
    .skilles .skille h3 {
        font-size: 20px;
        margin: 5px 0;
    }
    .skilles .skille .skilleschilds {
        margin-left: 0px;
        justify-content: center;
    }
    .skille .skl {
        width: calc(94%/3);
        height: 50px;
        margin: 5px 2% 15px 0;
    }
    .s4 .skilleschilds .skl {
        width: 100%;
    }
    .skl h4 {
        text-align: center;
        font-size: 14px;
        line-height: 18px;
    }
    .about .photo {
        display: none;
    }
}

/* ipad pro : */
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .control i {
        font-size: 2rem;
    }
    .menu.activate {
        transform: translateY(-10%);
    }
    .menu.activate .control .left {
        font-size: 1.5rem;
    }
    .nav .logo img {
        transform: translateY(-60px);
    }
    .nav .logo h1 {
        font-size: 1.75em;
    }
    .nav .logo p {
        font-size: 1.75em;
        line-height: 45px;
    }
    .nav .social {
        transform: translateY(35px);
    }
    .social div {
        width: 15%;
        height: 70%;
        font-size: 5rem;
    }
    .social div:hover {
        width: 15%;
        height: 70%;
        /* font-size: 5rem; */
    }
    .social .cards:hover a {
        font-size: 5rem;
    }
    .navbar ul a {
        font-size: 1.25em;
    }
    .content.activate .clip1 video {
        transform: scaleY(1.4) translateY(-5px) translateX(-41%);
    }
    .content.activate .clip2 .speech {
        transform: translate(-57%, -45%);
        font-size: 40px;
    }
    .content.activate .clip2 .one .sp1, 
    .content.activate .clip2 .two .sp1 {
        letter-spacing: 5px;
        transform: translateX(-45%);
    }
    .about .about_content {
        border-radius: 20px;
    }
    .about .section1 {
        margin-top: 15px;
    }
    .about .section1 h1 {
        height: 75px;
        font-size: 40px;
        letter-spacing: 2px;
        border-radius: 15px;
    }
    .content.activate .about .section1 p {
        font-size: 28px;
        line-height: 40px;
    }
    .section2 h2 {
        height: 65px;
        font-size: 30px;
        letter-spacing: 2px;
        border-radius: 12.5px;
    }
    .skilles .skille h3 {
        font-size: 28px;
    }
    .skille .skl {
        height: 65px;
    }
    .skl h4 {
        font-size: 20px;
    }
}