*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	background: rgba(0, 0, 0, 0.3);
}
p
{
	font-size: 10px;
	line-height: 10px;
	background: url(../media/1.jpeg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0.25);
}
.username
{
	margin-top: 50px;
}
input:focus:not(:focus-visible)
{
	outline: none;
	box-shadow: 1px 1px 5px rgba(1, 1, 0, 0.7);
}
